html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: solid 1px lightgrey;
  box-shadow: 5px 5px 5px black;
  background: rgb(239, 240, 235);
}

#title {
  font-size: 1.5rem;
}

#description {
  margin-top: 5px;
  margin-bottom: 10px;
}

#graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#legend {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.tooltip {
  background-color: wheat;
  position: absolute;
  opacity: 0;
  color: #191919;
  font-size: 1rem;
  padding: 5px;
  pointer-events: none;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

#author {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}